.tariffsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
  gap: 20px;
  max-width: 850px;
}

.buttons {
  display: flex;
  gap: 10px;
  max-width: 343px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 10px 0;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
}

.btnTry {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #646cff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    gap: 20px;
  }
}
