.tariffsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 150px 16px 50px;
}
.tariffsWrapper h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
}
.text {
  line-height: 250%;
}
.buttons {
  display: flex;
  gap: 10px;
  max-width: 343px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 10px 0;
  background: var(--q);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000;
  &:hover {
    background: var(--purple);
    opacity: 0.4;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--q);
    opacity: 0.8;
  }
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.price p {
  font-weight: 500;
  font-size: 35px;
  line-height: 114%;
  letter-spacing: -0.04em;
  color: var(--white);
}
.price span {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #35ff9e;
  vertical-align: top;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: var(--white);
}
.card p {
  color: var(--white);
}
.card li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--purple);
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  &:hover,
  &:focus {
    background: var(--purple);
  }
  &:hover select,
  &:focus select {
    background: rgba(255, 255, 255, 0.2);
  }
  &:hover .select option,
  &:focus .select option {
    background: var(--purple);
  }
}

.btnTry {
  display: block;
  padding: 16px 24px;
  background: var(--q);
  color: #030718;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #030718;
  box-shadow: 0 0 4px 0 var(--q);
}
.btnTry span {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #030718;
  text-transform: none;
  opacity: 0.56;
}
.select {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: right;
  color: var(--white);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
    gap: 20px;
  }

  .tariffsWrapper {
    display: flex;
    padding: 95px 297px;
  }

  .buttons {
    padding: 40px 0;
    max-width: 413px;
  }
}
