.card {
  position: relative;
  width: 314px;
  padding: 15px;
  min-height: 223px;
  background: url('/src/icons/card-bg.svg') no-repeat center/cover;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emblem {
  position: absolute;
  top: 5px;
  right: 0;
  width: 126px;
}

.topRow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pair {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
}

.meta {
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
  opacity: 0.4;
}

.center {
  margin-top: 15px;
}

.label {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 48px;
}

.profit {
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #35ff9e;
}
.arrow {
  position: relative;
  top: -4px;
}
.target {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
  opacity: 0.7;
}
.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--white);
  opacity: 0.4;
}
.bottomRow {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  opacity: 0.85;
  font-size: 14px;
}
