.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #6a54ff;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px 16px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.menu.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 205px;
}
.links li {
  text-transform: uppercase;
  cursor: pointer;
}
.auth {
  display: flex;
  gap: 16px;
  margin-top: 113px;
}

.auth button {
  width: 163px;
  height: 52px;
  text-transform: uppercase;
  color: black;
  background-color: #57e1ff;
  border: none;
  border-radius: 3px;
  &:focus,
  &:hover {
    background-color: rgba(87, 225, 255, 0.2);
    box-shadow: 0 0 4px 0 #57e1ff;
    border: 2px solid #57e1ff;
    color: #57e1ff;
  }
}
