.footerWrapper {
  max-width: 100%;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 57px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links li {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 16px;
  opacity: 0.67;
}

.logo {
  width: 160px;
  height: auto;
  padding-bottom: 80px;
}

.copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
  opacity: 0.5;
}

.header {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.4;
  max-width: 100px;
}

@media (min-width: 1024px) {
  .footerWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .block {
    flex: 1;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 0;
    padding-left: 65px;
    max-width: 946px;
  }
  .header {
    margin-top: 20px;
    margin-bottom: 224px;
    max-width: none;
  }
  .blockLogo {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 65px;
  }

  .logo {
    padding-bottom: 180px;
  }

  .footerWrapper > .block:first-child {
    display: flex;
    flex-direction: column;
  }

  .footerWrapper > .block:first-child .links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 20px;
    margin-top: 10px;
  }

  .footerWrapper > .block:last-child {
    align-items: flex-end;
    text-align: right;
  }

  .footerWrapper > .block:last-child .copy {
    margin-top: 10px;
  }
}
