.about {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background: var(--white);
  padding-bottom: 140px;
}
.try {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: -50%;
  z-index: 10;
  background: white;
  padding: 16px;
  border-radius: 4px;
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--purple);
}
.title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #030718;
  position: relative;
  width: 292px;
  height: 82px;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  background: url('/src/icons/about.svg') no-repeat left bottom;
  z-index: 3;
  margin-top: -20px;
  margin-bottom: 20px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #030718;
  opacity: 0.8;
  padding: 0 16px;
}
.try p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--white);
}
.input {
  background: #000;
  opacity: 0.3;
  border: none;
  border-radius: 4px;
  width: 324px;
  height: 50px;
}
.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.34;
  padding-left: 16px;
}
.btn {
  border-radius: 3px;
  padding: 16px 24px;
  width: 324px;
  height: 52px;
  box-shadow: 0 0 4px 0 var(--q);
  background: var(--q);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #030718;
}

@media (min-width: 1024px) {
  .about {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
  }
  .try {
    position: static;
    transform: none;
  }
}
