.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  background-color: #030718;
  z-index: 100;
}

.frame {
  width: 107px;
  flex-shrink: 0;
}

.nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 20px;
  gap: 15px;
}

.nav.active {
  display: flex;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth button {
  cursor: pointer;
}

.burger {
  display: block;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding: 0px 80px;
  }

  .frame {
    width: 131px;
    margin-right: 129px;
  }

  .nav {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    background: none;
  }

  .links {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-right: 82px;
  }

  .auth {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  }

  .auth button {
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--q);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: #030718;
    font-family: var(--font-family);
    cursor: pointer;
    &:hover {
      background: rgba(87, 225, 255, 0.2);
      color: var(--q);
      box-shadow: 0 0 4px 0 var(--q);
      border: 1px solid var(--q);
      border-radius: 3px;
    }
  }

  .burger {
    display: none;
  }
}
