.deals {
  padding: 40px 20px 60px 20px;
}

.header {
  margin-bottom: 20px;
  text-align: left;
}
.header h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
}
.header p {
  color: #35ff9e;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: #35ff9e;
}
.header p img {
  width: 8px;
  height: 8px;
  margin-right: 8px;
}
.swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
}
.swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
}
:global(.swiper-scrollbar) {
  background: #434f70;
  margin-top: 20px;
}
:global(.swiper-scrollbar-drag) {
  background: var(--purple);
  cursor: pointer;
}
.slide {
  flex: 0 0 auto;
  height: auto;
}

@media (min-width: 1024px) {
  .deals {
    padding: 96px 80px 118px 80px;
  }
}
