.deals {
  padding: 40px 20px;
}

.header {
  margin-bottom: 20px;
  text-align: left;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
}

.slide {
  flex: 0 0 auto;
  width: 299px;
  height: auto;
}
