/* Deals.module.css */
.deals {
  padding: 40px 20px;
}

.header {
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  overflow: hidden; /* приховуємо непомітні слайди */
}

.swiper .swiper-wrapper {
  display: flex; /* важливо для Swiper */
  align-items: flex-start;
}

.slide {
  flex: none; /* ключове для Swiper */
  width: 299px !important;
  height: 208px;
}

.card {
  width: 299px;
  height: 208px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
