.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.text {
  flex: 1;
  width: 343px;
}

.text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  line-height: 126%;
  letter-spacing: -0.04em;
}

.text p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.inputWrapper {
  display: flex;
  margin-bottom: 10px;
}

.inputWrapper input {
  flex: 1;
  font-size: 1rem;
}

.inputWrapper button {
  cursor: pointer;
}

.free {
  font-size: 0.9rem;
  color: #888;
}

.imageWrapper {
  flex: 1;
}

.imageWrapper img {
  width: 300px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 16px;
  }
  .free {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--white);
    opacity: 0.3;
  }
  .imageWrapper {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }

  .inputWrapper {
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  .inputWrapper button {
    background: var(--q);
    border: none;
    width: 102px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: #030718;
    font-family: var(--font-family);
  }
  .inputWrapper input {
    background: #201a4f;
    border: none;
  }
  .inputWrapper input::placeholder {
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 16px;
    opacity: 0.34;
  }
}
