.hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding: 16px;
}

.text {
  width: 100%;
  margin-bottom: 20px;
}

.text h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}

.text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.inputWrapper input {
  flex: 1;
  background-color: #201a4f;
  border: none;
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 16px;
  color: var(--white);
  opacity: 0.34;
}

.inputWrapper input::placeholder {
  color: var(--white);
  opacity: 0.34;
}

.inputWrapper button {
  width: 102px;
  border: 1px solid;
  border-radius: 4px;
  background: var(--q);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: #030718;
  font-family: var(--font-family);
  cursor: pointer;
  &:hover {
    background: rgba(87, 225, 255, 0.2);
    color: var(--q);
    box-shadow: 0 0 4px 0 var(--q);
    border: 1px solid var(--q);
    border-radius: 3px;
  }
}

.free {
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: var(--white);
  opacity: 0.3;
  padding-bottom: 37px;
}

.imageWrapper {
  width: 100%;
  order: -1;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    padding-top: 160px;
    padding-left: 60px;
    padding-right: 110px;
    margin-bottom: 130px;
  }

  .text {
    width: 580px;
    margin-bottom: 0;
  }
  .text h1 {
    font-size: 60px;
  }

  .inputWrapper {
    width: 500px;
    height: 60px;
  }
  .inputWrapper button {
    font-size: 16px;
  }
  .imageWrapper {
    order: 0;
    width: auto;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .imageWrapper img {
    width: 469px;
  }

  .free {
    padding-bottom: 0;
  }
}
