.numbers {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list li {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
}

.list li span {
  display: block;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .numbers {
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    order: 0;
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .list li {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
  }

  .list li:last-child {
    flex: 50% 0 0;
    margin-right: auto;
  }
}
