.numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #030718;
  position: relative;
  width: 292px;
  height: 82px;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  background: url('/src/icons/about.svg') no-repeat left bottom;
  z-index: 3;
  margin-top: -24px;
}
.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list li {
  flex: 1;
  border-radius: 10px;
  text-align: left;
  font-size: 1rem;
}

.list li span {
  display: block;
  font-size: 35px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 500;
}

@media (max-width: 768px) {
  .numbers {
    flex-direction: column;
    align-items: flex-start;
    color: black;
    margin-top: 20px;
    background: var(--white);
  }

  .header {
    order: 0;
    margin-bottom: 10px;
  }
  .header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #000;
    opacity: 0.5;
    padding-left: 16px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding-left: 16px;
  }

  .list li {
    flex: 1 1 calc(50% - 10px);
    text-align: left;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: #000;
    opacity: 0.8;
  }

  .list li:last-child {
    flex: 50% 0 0;
    margin-right: auto;
  }
}
