.numbers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background: var(--white);
  padding-left: 16px;
}

.line {
  position: absolute;
  top: -20px;
  left: 0;
  width: 300px;
  z-index: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #030718;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list li {
  flex: 1 1 calc(50% - 10px);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  text-transform: uppercase;
  color: #000;
  opacity: 0.8;
}

.list li span {
  display: block;
  font-size: 35px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 500;
}
.header {
  margin-bottom: 30px;
}
.header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: #000;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .line {
    width: 639px;
    top: -40px;
  }
  .title {
    font-size: 44px;
    margin-right: 150px;
  }
  .numbers {
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 65px 170px 60px 0;
  }
  .list {
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    padding-left: 0;
    align-items: center;
    justify-content: space-around;
  }
  .header {
    flex: 1;
    padding-left: 80px;
  }
  .list li {
    flex: 1 1 auto;
    text-align: left;
  }
  .list li span {
    font-size: 60px;
  }
}
