.numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list li {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: left;
  font-size: 1rem;
}

.list li span {
  display: block;
  font-size: 35px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 500;
}

@media (max-width: 768px) {
  .numbers {
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    color: black;
    padding: 16px;
    margin-top: 20px;
  }

  .header {
    order: 0;
    margin-bottom: 10px;
  }
  .header h2 {
    font-size: 28px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
  }
  .header p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #000;
    opacity: 0.5;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .list li {
    flex: 1 1 calc(50% - 10px);
    text-align: left;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    color: #000;
    opacity: 0.8;
  }

  .list li:last-child {
    flex: 50% 0 0;
    margin-right: auto;
  }
}
